@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: 
    url('../assets/fonts/Roboto-Regular.woff2') format('woff2'),
    url('../assets/fonts/Roboto-Regular.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 800;
    src: 
    url('../assets/fonts/Roboto-Bold.woff2') format('woff2'),
    url('../assets/fonts/Roboto-Bold.woff') format('woff');
    font-display: swap;
}

.attribution { position: absolute; top: 20px; width: 100%; font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.53;
    color: #23263F;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  /*----------------------------- common styles */
.slogan {
    margin-block-end: 23px;
    font-size: 38px;
    font-weight: 800;
    letter-spacing: .01em;
    line-height: .95;
}

.slogan ~ .description {
    margin-block-end: 35px;
}

.button-wrapper {
    position: relative;
    z-index: 30;
}

.button {
    position: relative;
    width: 100%;
    padding: 20px 23px;
    border-radius: 6px; 
    font: inherit;
    font-weight: 800;
    color: #F8FAFF;
    border: none;
    background-color: #23263F;
    background-image: linear-gradient(91deg, #FF5478 0.59%, #FD6A3F 99.93%);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 0 100%;
    cursor: pointer;
    transition: background-size .3s ease, filter .15s ease;
}

.button::before {
    content: '';
    position: absolute;
    inset: 0 2px;
    z-index: -1;
    transform: scalex(0);
    box-shadow: 0px 10px 15px 0px rgba(255, 95, 93, 0.40);
    transition: transform .3s ease, box-shadow .15s ease;
}

.button::after {
    content: '';
    position: absolute;
    inset: -2px;
    z-index: -1;
    border-radius: 7px;
    background-image: linear-gradient(91deg, #FF5478 0.59%, #FD6A3F 99.93%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0 100%;
    transition: background-size .3s ease;
}

.button:disabled {
    filter: brightness(80%);
    pointer-events: none;
}

.button:focus-visible {
    outline: none;
}

.button:focus-visible::after {
    background-size: 100% 100%;
}

.button:not(:disabled):hover {
    background-size: 100% 100%;
}

.button:not(:disabled):hover::before {
    transform: scalex(1);
}

.button:active {
    filter: brightness(90%);
    transform: translateY(3px);
}

.button:active::before {
    box-shadow: 0px 3px 3px 0px rgba(255, 95, 93, 0.60);
}

.section {
    position: relative;
}

.section::before {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    background-color: #23263F;
}

.section-wrapper {
    width: 100%;
    height: 100%;
    padding-inline: 23px;
    padding-block-end: 23px;
    display: flex;
    flex-direction: column;
    background-color: #F8FAFF;
}

  /* -----------------------------newsletter screen styles */

.newsletter {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.decor {
    height: 35%;
    margin-inline: -23px;
    margin-bottom: 35px;
    border-radius: 0 0 15px 15px;
    background-color: #FC5E50;
    background-image: url('../assets/images/illustration-sign-up-mobile.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}  

.description-list {
    margin-block-end: 40px;
}

.description-list > li {
    position: relative;
    padding-block: 3px;
    padding-inline-start: 35px;
}

.description-list > li:not(:last-child) {
    margin-block-end: 12px;
}

.description-list > li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='21' viewBox='0 0 21 21'%3E%3Cg fill='none'%3E%3Ccircle cx='10.5' cy='10.5' r='10.5' fill='%23FF6155'/%3E%3Cpath stroke='%23FFF' stroke-width='2' d='M6 11.381 8.735 14 15 8'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* ----------------------------------------------------- form styles */
.input-wrapper,
.input-text {
    display: flex;
}
.input-wrapper {
    flex-direction: column;
}

.input-text {
    margin-block-end: 10px;
    justify-content: space-between;
    align-items: baseline;
}

.input-label,
.error {
    font-size: 12px;
    font-weight: 800;
}

.error {
    display: none;
}

.error--show {
    display: inline;
    color: #EA8078;
}

#email {
    width: 100%;
    padding: 20px 23px;
    border-radius: 6px; 
    margin-block-end: 23px;
    background-color: transparent;
    border: 1px solid #AAAAAD;
    color: #23263F;
    transition: border-color .3s ease, outline .3s ease;
}

#email::placeholder {
    color: #AAAAAD;
}

#email:focus-visible,
#email:focus {
    outline: 1px solid #23263F;
}

#email:hover {
    border-color: #23263F;
}

#email.invalid {
    border-color: #EA8078;
    color: #EA8078;
    background: rgba(234, 128, 120, 0.19);
}

/* -------------------------------------- succsess styles */
.success {
    position: absolute;
    top: 0;
    z-index: -100;
    width: 100%;
    height: 100vh;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    opacity: 0;
    transform-origin: center;
    transition: all .5s ease;
    transition-delay: .15s;
}

.success::before {
    opacity: 0;
    transition: opacity .3s ease;
    transition-delay: .15s;
}

.success--show {
    visibility: visible;
    z-index: 100;
    opacity: 1;
    transform: scale(1);
}

.success--show::before {
    opacity: 1;
}

.success-wrapper {
    padding-block-start: 20vh; 
}

.success-decor {
    width: 64px;
    height: 64px;
    margin-block-end: 40px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='21' viewBox='0 0 21 21'%3E%3Cg fill='none'%3E%3Ccircle cx='10.5' cy='10.5' r='10.5' fill='%23FF6155'/%3E%3Cpath stroke='%23FFF' stroke-width='2' d='M6 11.381 8.735 14 15 8'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.your-email {
    font-weight: 800;
}

.success-button-wrapper {
    margin-block-start: auto;
}

/*------------------------------------------------------- media queries */

@media (min-width: 896px) {
    .section-wrapper {
        border-radius: 23px;        
    }
    .newsletter-wrapper {
        width: 70%;
        height: min-content;
        padding-block-start: 23px;
        max-width: 800px;
        max-height: 565px;
        flex-direction: row-reverse;
        gap: 23px;
    }

    .decor {
        height: 519px;
        max-height: 100%;
        width: calc(100% - 23px);
        margin: 0;
        border-radius: 15px;
        background-image: url('../assets/images/illustration-sign-up-desktop.svg');
    }

    .content-wrapper {
        padding: 23px;
        justify-content: center;
    }

    .slogan {
        margin-block-end: 23px;
    }
    
    .slogan ~ .description {
        margin-block-end: 25px;
    }

    .description-list {
        margin-block-end: 23px;
    }

    #email {
        padding-block: 15px;
        margin-block-end: 15px;
    }

    .button {
        padding-block: 15px;
    }

    .success-wrapper {
        width: 35%;
        height: 48%;
        max-width: 435px;
        max-height: 460px;
        padding-block-start: 23px;
        flex-direction: column;
        justify-content: center;
    }

    .success-button-wrapper {
        margin-block-start: 0;
    }

    .success-decor {
        width: 47px;
        height: 47px;
        margin-block-end: 30px;
    }

    .attribution { color: #F8FAFF;}
    .attribution a { color: hsl(307, 53%, 61%); }
}
